receivers:
  filelog:
    {{- if .LogFiles }}
    include:
      {{- if .LocalLogFiles }}
      - /app/*.log
      - /var/log/*.log
      {{- end }}
      {{- if .LogFilePath }}
      - {{ .LogFilePath }}
      {{- end }}
    {{- end }}
    include_file_name: true
    include_file_path: true
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
        cors:
          allowed_origins:
            - "*"
          allowed_headers:
            - "*"
  syslog:
    tcp:
      listen_address: 0.0.0.0:8094
    protocol: rfc3164
    location: UTC
    operators:
      - type: move
        from: attributes.message
        to: body

processors:
  batch:

exporters:
  loki:
    endpoint: http://loki:3100/loki/api/v1/push
    tls:
      insecure: true
  prometheusremotewrite:
    endpoint: http://prometheus:9090/api/v1/write
    tls:
      insecure: true
  otlp:
    endpoint: http://tempo:4317
    tls:
      insecure: true

service:
  pipelines:
    logs:
    {{- if .LogFiles }}
      receivers: [filelog, otlp, syslog]
    {{- else }}
      receivers: [otlp, syslog]
    {{- end }}
      processors: [batch]
      exporters: [loki]
    metrics:
      receivers: [otlp]
      exporters: [prometheusremotewrite]
    traces:
      receivers: [otlp]
      exporters: [otlp]
{{- if .Debug }}
  telemetry:
    logs:
      level: "debug"
    metrics:
      level: normal
      readers:
        - pull:
            exporter:
              prometheus:
                host: '0.0.0.0'
                port: 18888
{{- end }}
